.main{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
select {
    appearance: none;
    outline: 0;
    background: rgb(255, 255, 255);
    background-image: none;
    width: 100%;
    height: 100%;
    color: rgb(33, 33, 33);
    cursor: pointer;
    border: 2px solid rgb(90, 86, 206);
    border-radius: 6px;
}
.dropdown {
    position: relative;
    display: block;
    width: 15%;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}
mat-toolbar{
    background-color: rgb(138, 175, 227);
}
.footer {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  