<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <!-- Devam Eden Görevler -->
  <br>
  <div  style="display: flex;">
      <div style="flex: 1;  margin-left: 300px;">
      <h2>In-progress Tasks</h2>
      <div class="divin" style="background-color: rgb(163, 188, 223);;" *ngFor="let taskGroup of ongoingTasks; let i = index" [formGroup]="taskGroup">
          <!-- Görev içeriği görüntüleme -->
          <!-- <p>ID: {{ taskGroup.value.id }}</p> -->
          <ul>
            <li>
                <p>Görev Adı: {{ taskGroup.value.taskName }}</p>
          <!-- <p>Kullanıcı Adı: {{ taskGroup.value.userName }}</p> -->

          <!-- Tamamlandı butonu -->
          <button (click)="completeTask(i)">Completed</button>
          
            </li>
            </ul>
          
      </div>
  </div>
<br><br>
  <!-- Tamamlanan Görevler -->
  <div style="flex: 1;">
      <table>
          <tr>
              <th>
                  <h2>Completed Task</h2>
              </th>
          </tr>
          <tr>
                  <div class="comp" style="background-color: rgb(163, 188, 223);;" *ngFor="let taskGroup of completedTasks; let i = index" [formGroup]="taskGroup" >
                    <ul>
                        <li>
                          <!-- Görev içeriği görüntüleme -->
                     <!-- <td><p>ID: {{ taskGroup.value.id }}</p></td> -->
                      <td> <p>Task Name: {{ taskGroup.value.taskName }}</p></td>
                     <!-- <td><p>Kullanıcı Adı: {{ taskGroup.value.userName }}</p></td> -->
                         
                        </li>
                       
                    </ul> 
                    
                  </div>
          </tr>

      </table>

  </div>
  </div>



<br><br>
 
</form>
